@import 'bundled-styles';
@import 'policy-portfolio';

.heading-xxlarge {
  @include bold-80();  
}

.heading-pre {
  @include bold-24();
}

.mt0 {margin-top:0px;}
.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}

.mb0 {margin-bottom:0px;}
.mb5 {margin-bottom:5px;}
.mb10 {margin-bottom:10px;}
.mb15 {margin-bottom:15px;}

.column-one-third.day {
  @include core-16();
}

.section-heading {
  margin:0;
  padding:60px 0 15px;
}

.illustration {
  img {
    margin:0 5px 5px 0;
  }
  p {
    @include core-16();
    color:$grey-1;
  }
}

acronym {
    color:$govuk-blue;
    cursor:help;
}

a.person {
  color:$purple;
  text-decoration:none;
}
