<section id="gather">
  <h2 class="heading-xlarge section-heading">Information gather</h2>
  <div class="grid-row">
    <div class="column-two-thirds">      
      <p>In order to start prototyping we needed to start gathering real content which would be relevant to the pages we were going to design.</p>
      <h4 class="heading-small">Activity</h4>
      <p>Again we created columns on our brown paper and used green post-its to label them. We wanted to find out about the different things that triggered work, the different areas (directorates) the work were done in, the different factors which effected how work is prioritised and the actually different types of work that was done.</p>
      <h4 class="heading-small">Results</h4>
      <p>We now had a lot of the details we needed to start designing pages.</p>    
    </div><!-- column -->
    <div class="column-third">
      <img src="/public/images/designsprint/Details-all.jpg" width="100%" style="max-width:240px"/>
      <img src="/public/images/designsprint/Details-triggers.jpg" width="100%" style="max-width:240px"/>
    </div><!-- column -->
  </div><!-- row -->
  
  
</section>
