<section id="goal">
  <h2 class="heading-xlarge section-heading">How do we want them to be?</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      
      <p>A group session to write a mission statement or long-term goal. North star. etc</p>
      <h4 class="heading-small">Activity</h4>
      <p>&nbsp;</p>
      <h4 class="heading-small">Results</h4>
      <p>Group agreement over a single version of this for us to use as a reference throught the rest of the activity.</p>    
    </div><!-- column -->
    <div class="column-third">
        <img src="/public/images/designsprint/Long-term-goal.jpg" width="100%" style="max-width:240px"/>
    </div><!-- column -->
  </div><!-- row -->
</section>
