<section id="intro">
  <h2 class="heading-xlarge section-heading">Introductions</h2>
  <div class="grid-row">
  <div class="column-two-thirds">        
    <p>We started the day by introducing ourselves. <a href="#rob">Rob</a> asked us all to take a piece of card and</p> 
    <ul class="list list-number">
      <li>write a short three line biography of ourselves</li>
      <li>draw a little pictures of ourselves</li>
      <li>write down five skills each rated out of five.</li> 
    </ul> 
    <p>The following people were present:</p>   
    <div class="person" id="ben"><span class="bold-small">Ben Holliday</span> &ndash; Head of User Experience - <acronym title="Business Transformation Group">BTG</acronym></div>
    <div class="person" id="rob"><span class="bold-small">Rob Banathy</span> &ndash; Agile Coach - <acronym title="Business Transformation Group">BTG</acronym></div>
    <div class="person" id="tom"><span class="bold-small">Tom Morgan</span> &ndash; Interaction Designer - <acronym title="Business Transformation Group">BTG</acronym></div>
    <div class="person" id="maxine"><span class="bold-small">Maxine Divers</span> &ndash; Interaction Designer - <acronym title="Business Transformation Group">BTG</acronym></div>
    <div class="person" id="paul"><span class="bold-small">Paul Smith</span> &ndash; Front-end Developer - <acronym title="Business Transformation Group">BTG</acronym></div>
    <br />
    <div class="person" id="fiona"><span class="bold-small">Fiona Fellows</span> &ndash; 2020 Project Manager - <acronym title="Strategy, Policy &amp; Analysis Group">SPAG</acronym></div>
    <div class="person" id="lorraine"><span class="bold-small">Lorraine Hennesy</span> &ndash; 2020 Assistant Project Manager - <acronym title="Strategy, Policy &amp; Analysis Group">SPAG</acronym></div>
    <div class="person" id="anita"><span class="bold-small">Anita Sharma</span> &ndash; <acronym title="Strategy, Policy &amp; Analysis Group">SPAG</acronym></div>
    <div class="person" id="james"><span class="bold-small">James Rogers</span> &ndash; <acronym title="Strategy, Policy &amp; Analysis Group">SPAG</acronym></div>
    <div class="person" id="anna"><span class="bold-small">Anna</span> &ndash; <acronym title="Strategy, Policy &amp; Analysis Group">SPAG</acronym></div>
    <div class="person" id="della"><span class="bold-small">Della Bradford</span> &ndash; <acronym title="Strategy, Policy &amp; Analysis Group">SPAG</acronym></div>
    <div class="person" id="sarah"><span class="bold-small">Sarah</span> &ndash; <acronym title="Strategy, Policy &amp; Analysis Group">SPAG</acronym></div>
    
  </div><!-- .column -->
  <div class="column-third">
    <div class="illustration" style="margin-top:60px"> 
      <img src="/public/images/designsprint/Introductions-2.jpg" style="max-width:160px;" />
      {# <p>These are the fruits of those labours.</p> #}
    </div>
  </div><!-- .column -->
  </div><!-- row -->
</section>
