<section id="intro">
  <h2 class="heading-xlarge section-heading">Introductions</h2>
  <div class="grid-row">
  <div class="column-two-thirds">        
    <p>We started the day by introducing ourselves.
    <h4 class="heading-small">Activity</h4>
    <p><a href="#rob" class="person">Rob</a> asked us all to take a piece of card and</p>
    <ul class="list list-number">
      <li>write a short three line biography of ourselves</li>
      <li>draw a little pictures of ourselves</li>
      <li>write down five skills each rated out of five.</li> 
    </ul> 
    <h4 class="heading-small">Results</h4>
    <p>Everyone getting to understand who was present and a little bit about who they were: </p>   
    <h2 class="heading-medium mt0 mb0"><acronym title="Strategy, Policy &amp; Analysis Group">SPAG</acronym></h2>
    <div class="person" id="fiona"><span class="bold-small">Fiona Fellows</span> &ndash; SPAG 2020 Project Manager</div>
    <div class="person" id="fiona"><span class="bold-small">Sarah Kelly</span> &ndash; SPAG 2020 Project Manger</div>
    <div class="person" id="fiona"><span class="bold-small">Lorraine Hennessy</span> &ndash; SPAG 2020 Assistant Project Manager</div>
    <div class="person" id="fiona"><span class="bold-small">David Hone</span> &ndash; SPAG 2020 Assistant Project Manager</div>
    <div class="person" id="fiona"><span class="bold-small">Anita Sharma</span> &ndash; Working Age Benefits</div>
    <div class="person" id="fiona"><span class="bold-small">James Rogers</span> &ndash; Work and Health Joint Unit</div>
    <div class="person" id="fiona"><span class="bold-small">Anna Bliss</span> &ndash; Better Workplace Pensions Team</div>
    <div class="person" id="fiona"><span class="bold-small">Debbie Bradford </span> &ndash; Disability Employment and Support</div>
    <div class="person" id="fiona"><span class="bold-small">Tim Conway</span> &ndash; Children, Families and Disadvantage</div>
    
    <h2 class="heading-medium mt15 mb0"><acronym title="Business Transformation Group">BTG</acronym></h2>
    <div class="person" id="ben"><span class="bold-small">Ben Holliday</span> &ndash; Head of User Experience</div>
    <div class="person" id="rob"><span class="bold-small">Rob Banathy</span> &ndash; Agile Coach</div>
    <div class="person" id="tom"><span class="bold-small">Tom Morgan</span> &ndash; Interaction Designer</div>
    <div class="person" id="maxine"><span class="bold-small">Maxine Divers</span> &ndash; Interaction Designer</div>
    <div class="person" id="paul"><span class="bold-small">Paul Smith</span> &ndash; Front-end Developer</div>
    <br />
  </div><!-- .column -->
  <div class="column-third">
    <div class="illustration" style="margin-top:60px"> 
      <img src="/public/images/designsprint/Introductions-2.jpg" style="max-width:160px;" />
      {# <p>These are the fruits of those labours.</p> #}
    </div>
  </div><!-- .column -->
  </div><!-- row -->
</section>
