<section id="needs">
  <h2 class="heading-xlarge section-heading">Do we have everything we need?</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <p></p>
    </div><!-- column -->
    <div class="column-third">
      <img src="/public/images/designsprint/Details_statuses.jpg" width="100%" style="max-width:240px"/>
      <img src="/public/images/designsprint/Details-project_block.jpg" width="100%" style="max-width:240px"/>
    </div><!-- column -->
  </div><!-- row -->
</section>
