<section id="now">
  <h2 class="heading-xlarge section-heading">How are things now?</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <p>Taking the post-its from the <b class="bold-small">Who</b> column in the previous exercise <a href="#ben" title="Ben Holliday" class="person">Ben</a> then mapped out how each person was involved in the way that work flowed through the team, showing who was involved and each stage and how work was passed between each person as it went.</p>  
      <h4 class="heading-small">Activity</h4>
      <p>The pink post-its (one for each person) went donn the left-hand side. Then the group added green post-its across the sheet to label each step in the process, lining them up against the person who would be undertaking each action.</p>
      <p>Once this was complete across the top of the sheet we attempted to label each stage in a more general way to allow us to see the stages of work that are involved in this journey.</p>
      <h4 class="heading-small">Results</h4>
      <p></p>
    </div><!-- column -->
    <div class="column-third">
      <img src="/public/images/designsprint/User_flow-statuses-1.jpg" width="100%" style="max-width:240px"/>
      <img src="/public/images/designsprint/User_flow-statuses-2.jpg" width="100%" style="max-width:240px"/>
      <img src="/public/images/designsprint/User_flow-statuses-3.jpg" width="100%" style="max-width:240px"/>
    </div><!-- column -->
  </div><!-- row -->
</section>
