<section id="now">
  <h2 class="heading-xlarge section-heading">How are things now?</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <p>Taking the post-its from the <b class="bold-small">Who</b> column in the previous exercise <a href="#ben" title="Ben Holliday">Ben</a> then mapped out how each person was involved in the way that work flowed through the team, showing who was involved and each stage and how work was passed between each person as it went.</p>  
    </div><!-- column -->
    <div class="column-third">
      <img src="/public/images/designsprint/User_flow-statuses-1.jpg" width="100%" style="max-width:240px"/>
    </div><!-- column -->
  </div><!-- row -->
</section>
