<section id="paper">
  <h2 class="heading-xlarge section-heading">Paper prototypes</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <p></p>
    </div><!-- column -->
    <div class="column-third">
      <img src="/public/images/designsprint/Paper_prototype-overview_page.jpg" width="100%" style="max-width:240px"/>
      <img src="/public/images/designsprint/Paper_prototype-project_box.jpg" width="100%" style="max-width:240px"/>
      <img src="/public/images/designsprint/Paper_prototype-overview_tom.jpg" width="100%" style="max-width:240px"/>
      <img src="/public/images/designsprint/Paper_prototype-project_page.jpg" width="100%" style="max-width:240px"/>
    </div><!-- column -->
  </div><!-- row -->
</section>
