<section id="sketching">
  <h2 class="heading-xlarge section-heading">Sketching exercise</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <p>An exercise where all participants are encouraged to get ideas into a visual form to explore their thoughts and assumptions about what's needed.</p>
      <h4 class="heading-small">Activity</h4>
      <p>We sketched. We explained them. We talked about priorities</p>
      <h4 class="heading-small">Results</h4>
      <p>The team agreed the screens that would be best to focus on on the following day.</p>    
    </div><!-- column -->
    <div class="column-third">
      <img src="/public/images/designsprint/Sketches-all.jpg" width="100%" style="max-width:240px"/>
      <img src="/public/images/designsprint/Sketches-maxine.jpg" width="100%" style="max-width:240px"/>
      <img src="/public/images/designsprint/Sketches-story.jpg" width="100%" style="max-width:240px"/>
    </div><!-- column -->
  </div><!-- row -->
  
</section>
