    <h1 class="heading-xxlarge"><span class="heading-pre">Design Sprint:</span><br />Policy Tracker</h1>
  
    <p>A quick run through of how we did this design sprint and what the results were.</p>
    
    <div class="grid-row">
    
    <div class="column-one-third day">
      <h3 class="heading-small">Day one</h3>
      <p class="mb10">This day was about agreeing the problem, understanding the lay of the land and deciding what part of the whole thing we wanted to tackle.</p>
      <ul class="list-bullet">
        <li><a href="#intro">Introductions</a></li>
        <li><a href="#why">Why are we here?</a></li>
        <li><a href="#now">How are things now?</a></li>
        <li><a href="#goal">How do we want them to be?</a></li>
        <li><a href="#sketching">Sketching exercise</a>  
      </ul>
    </div>
    
    <div class="column-one-third day">
      <h3 class="heading-small">Day two</h3>
      <p class="mb10">This day was about starting to delve into the detail. Gathering all the information and content we needed to start to create our prototype.</p>
      <ul class="list-bullet">
        <li><a href="#gather">Information gather</a></li>
        <li><a href="#page">Page content</a></li>
        <li><a href="#paper">Paper prototypes</a></li>
        <li><a href="#needs">Do we have everything we need?</a></li>
      </ul>
    </div>
    
    <div class="column-one-third day">
      <h3 class="heading-small">Day three</h3>
      <p class="mb10">This day was all about building the prototype, testing our assumptions and preparing to showcase it in our Show ‘n’ Tell.</p>
      <ul class="list-bullet">
        <li><a href="#html">HTML prototype</a></li>
        <li><a href="#test">Testing</a></li>
        <li><a href="#plan">Planning</a></li>
        <li><a href="#show">Show ‘n’ Tell</a></li>
      </ul>
    </div><!-- .column -->
        
    </div><!-- .row -->

    <hr />
