<section id="why">
  <h2 class="heading-xlarge section-heading">Why are we here?</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <p><a href="#ben" class="person" title="Ben Holliday">Ben</a> then took the group through 5 questions which aimed to find out:<br />
        <ol class="list list-bullet">
          <li>Why are we doing this work?</li>
          <li>Who are our users?</li>
          <li>What outcome will users get from this service?</li>
          <li>What outcome are we looking for?</li>
          <li>What are our key metrics?</li>
        </ol>
      </p>      
      <h4 class="heading-small">Activity</h4>
      <p>We used a large sheet of brown paper. Putting pink post-its along the top to define a column for each question. The group then</p>
      <h4 class="heading-small">Results</h4>
      <p>
    </div><!-- .column -->
    <div class="column-third">
      <div class="illustration"> 
        <img src="/public/images/designsprint/Ben-5_questions-2.jpg" width="100%" style="max-width:240px"/>
        <img src="/public/images/designsprint/Ben-5_questions-1.jpg" width="100%" style="max-width:240px"/>
        <p>
      </div>
    </div><!-- column -->
  </div><!-- row -->

</section>
