.projectname {
  margin-bottom:15px;
}
.column-full {
  width:auto;
  padding:0 15px;
  clear:both;
}

.box {
  // background:$grey-3;
  // padding:30px 30px 30px 30px;
  margin-top:30px;
}
.date {
  color:$govuk-blue;
}
#logo {
  width:36px;
}
.data {
  text-align:right;
  margin-bottom:10px;
  .label {
    @include bold-19();
  }
}

.team {
  padding:30px 0;
}

.member {
  float:left;
  width:20%;
  margin-right:2%;
  margin-bottom:2%;
  text-align:center;
  padding:10px;
  border:1px solid $grey-2;
  background-color:$grey-3;
}

.details-box {
  position:relative;
  border:1px solid $beta-colour;
  cursor:pointer;
  max-width: 80%;
  float: right;
  @include core-16;
  .label {
    @include bold-16;
  }
  p {
    float:left;
    margin:5px;
    margin-left:10px;
  }
  .priority {
    width:38%;
    float:left;
    color:white;
    padding:15px 0 5px;
    background-color:$beta-colour;
    text-align:center;
    .priority-num {
      @include bold-80();
    }
  }
  .reasons {
    display:none;
    &.show{display:block}
    position:absolute;
    top:100%;
    left:0;
    border:1px solid $beta-colour;
    background-color:white;
    padding:15px;
    .heading {
      margin:0 0 10px;
      @include bold-19;      
    }
    p {
      margin:0;
    }
  }
}

.person-details {
  p {
    margin-bottom:0;
  }
  .button {
    margin:10px 0;
  }
}
.alert {
  color:$mellow-red;
  @include bold-19;
}

.back-link a:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-right: 6px solid #005ea5;
  border-bottom: 4px solid transparent;
  position: relative;
  top: -2px;
  margin-right: 0.25em;
}
