{% extends prototype.current.layout %}

{% set page = {
  title: 'index',
  dev: true,
  html_classes: ['full-width']
} %}

{% block main %}

<div class="l-portfolio">

<div class="grid-row">
  
  {{ portfolio.project_header() }}
  
  <div class="column-full">
    <img src="/public/images/timeline.svg" style="width:100%;margin-top:0" />    
  </div>
  
  <div class="column-full" style="padding-top:15px">
    
    <div class="section-tabs js-tabs clearfix">
      <ul>
        <li class="active"> <a href="project">Summary</a> </li>
        <li class=""> <a href="team">Team</a> </li>
        <li class=""> <a href="history">History</a> </li>
        <li class=""> <a href="team">Financals</a> </li>
      </ul>
    </div>
    
    <div class="grid-row">
      <div class="column-half">
        <div class="box">
          <dl>
            <dt class="bold-small">Date started</dt>
            <dd>April 2015</dd>
            <dt class="bold-small" style="margin-top:10px;">Description</dt>
            <dd>Lowering the household benefit cap to £20,000 across the country and £23,000 in London for both new and existing claimants (Current £26,000)</dd>            
          </dl>
        </div>
      </div>
      <div class="column-half">
        <div class="box">
          <h2 class="heading-small" style="margin-top:0;">Milestones</h2>
          <ul class="list-bullet">
            <li><span class="date">November 2016</span> &mdash; Provide policy advice &amp; seek steers from ministers to inform regs and delivery, input and QA implementation/design work.</li>
            <li><span class="date">August 2016</span> &mdash; Consult SSAC</li>
            <li><span class="date">July 2016</span> &mdash; LAAs on HB regs</li>
            <li><span class="date">14th June 2016</span> &mdash; Instruct &amp; QA regs</li>
            <li><span class="date">June 2016</span> &mdash; Lay and make regs</li>
            <li><span class="date">April 2016</span> &mdash; Develop EM &amp; EA</li>
          </ul>
          <br />
          <p>Nb. <span class="alert">Intensive maintenance to follow</span></p>
        </div>
      </div>
    </div>
    
    <div class="grid-row">
      <div class="column-half">
        <h3 class="heading-large">Objectives</h3>
        <p>To develop and support delivery of benefit cap policy.</p>
        <h3 class="heading-large">Risks / Mitigations</h3>
        <ul class="list-bullet">
          <li>Legal challenges</li>
          <li>Knowledge management</li>
          <li>Succession planning</li>
        </ul>
        <h3 class="heading-large">Background</h3>
        <p>The Benefit Cap limits the amount of Benefit working age households can recieve, so that workless households will no longer be entitled to recieve more than £20,000 in benefit (£13,400 for single adults with no children) and £23,000 in Greater London (£15,410 for single adults with no children).</p>
      </div>
      <div class="column-half">
        <h3 class="heading-large">Team (4)</h3>
        
        <div class="media">
          <div class="img"> <img src="/public/images/person2.png" alt="me" width="50px"/> </div>
          <div class="bd person-details">
            <h3 class="heading-small heading-top" style="">Anita Sharma</h3>
            <p>Project Lead (Policy Developer)</p>
            <p><a href="#">tel: 08987 875 6364</a></p>
            <a class="button" href="">View profile</a>
          </div>
        </div><!-- .media -->
        
        <div class="media">
          <div class="img"> <img src="/public/images/person.png" alt="me" width="50px"/> </div>
          <div class="bd person-details">
            <h3 class="heading-small heading-top" style="">Paul Towers</h3>
            <p>Project Adviser (Policy Developer)</p>
            <p><a href="#">tel: 08987 875 6364</a></p>
            <a class="button" href="">View profile</a>
          </div>
        </div><!-- .media -->
        
        <div class="media">
          <div class="img"> <img src="/public/images/person2.png" alt="me" width="50px"/> </div>
          <div class="bd person-details">
            <h3 class="heading-small heading-top" style="">Ian Durran</h3>
            <p>Analyst (Analytical Community)</p>
            <p><a href="#">tel: 08987 875 6364</a></p>
            <a class="button" href="">View profile</a>
          </div>
        </div><!-- .media -->
        {# <div class="media">
          <div class="img"> <img src="/public/images/person.png" alt="me" width="50px"/> </div>
          <div class="bd">
            <h3 class="heading-small heading-top" style="">Sanjay Singh (G7)</h3>
            <a class="button" href="">View profile</a>
          </div>
        </div><!-- .media --> #}
        <p><a href="team" class="button">Full team</a>
      </div>
    </div>
    
  </div>
</div>

{# <hr style="position:absolute;top:105px;left:0;width:100%;background-color:red;" /> #}  
</div>
{% endblock %}

{% block body_end %}
{{ super() }}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('.details-box').on('click',function(e)
    {
      e.preventDefault();
      $('#reasons').toggleClass('show');
    });
  });
</script>
{% endblock %}
